*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'VT323', monospace;

}
header {
    width: 100%;
    height: 110px;
    border: 6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3.5rem;
}

main {
    padding: 30px 0;
    text-align: center;
}

.players_names{
    font-size: 3.5rem;
}

h3{
    margin-top: 12px;
    color: rgba(165, 165, 165, 0.527);
    font-size: 2.5rem;
}

.selecciona_uno_blanco{
    color: white;
}

main div{
    margin: 20px 0;
}
main div img{
    width: 95px;
    height: 90px;
    border-radius: 50%;
}

.selected{
    border: 5px solid rgb(33, 149, 243);
}

.vs{
    margin: 20px 0;
    font-size: 4rem;
}

.loser{
    margin-top: 20px;
    font-size: 3rem;
    color: red;
}

.winner {
    margin-top: 20px;
    font-size: 3rem;
    color: rgb(33, 149, 243);
}

.draw {
    margin-top: 20px;
    font-size: 3rem;
    color: rgb(172, 134, 84);
}

#play {
    font-family: inherit;
    width: 70px;
    font-size: 2rem;
    border-radius: 50px;
    margin-top: 15px;
}
.play:active{
    background-color: rgb(255, 52, 52);
}

.play_activado:active{
    background-color: rgb(235, 231, 197);
}

#play:focus, main div img:focus{
    outline: none;
}

@media (min-width:1000px){
#piedra1, #papel1, #tijera1{
    cursor: pointer;
}
}